<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin - Hcode Treinamentos</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="bower_components/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="bower_components/Ionicons/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css" />
    <meta name="author" content="Hcode.com.br" />
    <meta name="theme-color" content="#3c8dbc" />
    <!-- Google Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
    />
  </head>

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>Admin</b>Login</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Acesso a Área Restrita</p>

        <!-- Include Alerts -->
        <% include('../inc/alerts') %>

        <form id="login_form" method="post">
          <div class="form-group has-feedback">
            <input
              name="email"
              type="email"
              class="form-control"
              placeholder="E-mail"
              value="<%= body.email %>"
            />
            <span
              class="glyphicon glyphicon-envelope form-control-feedback"
            ></span>
          </div>
          <div class="form-group has-feedback">
            <input
              name="password"
              type="password"
              class="form-control"
              placeholder="Senha"
            />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <!-- recaptcha -->
              <div
                id="html_element"
                class="g-recaptcha"
                data-sitekey="6LfuDJ8pAAAAADaGBSBsh3KZDeQDHRzkATd_wQzO"
                data-type="checkbox"
              ></div>
              <br />
              <button
                type="button"
                onclick="submitForm()"
                class="btn btn-primary btn-block btn-flat"
              >
                Entrar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    <!-- Google reCAPTCHA -->
    <script
      src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
      async
      defer
    ></script>

    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var onSubmit = function (token) {
        document.getElementById("login_form").submit();
      };

      var onloadCallback = function () {
        grecaptcha.render("html_element", {
          sitekey: "6LfuDJ8pAAAAADaGBSBsh3KZDeQDHRzkATd_wQzO",
        });
      };

      function submitForm() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
          alert("Favor marcar a opção 'Não sou um robô'");
        } else {
          document.getElementById("login_form").submit();
        }
      }
    </script>
  </body>
</html>
